/* GENERAL STUFF */
:root{
  --primary: #3aafa9; 
  --secondary: #c5e1e0; 
  --accent: #101a1e; 
  --background: #feffff;
  --hue: "0deg";
  --buttonColor: teal;
  --button-transparent:  rgba(255,255,255, 0);
  --hover-light: rgba(255,255,255, 0.7);
}

#root {
  overflow: hidden;
}

html, body, #root, #app, #app>div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder { 
  color: #777777 !important;
  opacity: 1;
}

/* SPLASH SCREEN */
.App {
  text-align: center;
}

.app_logo_container {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appLogoBG {
  position: relative;
  pointer-events: none;
  animation: appLogoWaveIntro 1.5s linear;
}

.appLogoFG {
  position: absolute;
  pointer-events: none;
  margin-top: -0.5%;
  transform: scale(0.87);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.splashLoginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.splashTextSubtitle {
  width: 40%;
  text-align: right;
  margin-right: 3%;
  font-style: italic;
}

.splashLoginBox {
  width: 40%;
  padding: 2%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(7px 7px 2px #222222);
}

.splashInputContainer {
  padding-top: 3%;
}

.splashInput {
  font-size: 18px;
}

.splashText {
  font-weight: bolder;
  text-align: center;
  margin: 5%;
  text-decoration: none;
}

.splashTextSmall {
  font-size: 16px;
  margin: 5%;
  text-decoration: underline;
  color: black;
}

.splashTextSmall:hover {
  color: white;
  cursor: pointer;
}


.splashTestSelect {
  color: black;
  position: absolute;
  margin-left: 85%;
}

.clickable:hover {
  cursor: pointer;
}

.recoverPasswordTextfield {
  left: 22%;
}

.registerTextfield {
  left: 22%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.signOutText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.recoverPasswordModalButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signOutModalButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownChangeTheme {
  position: absolute;
  left: 91%;
  top: 92.5%;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 6.5%;
  background-color: #333333;
  text-align: center;
}

.App-logo-navbar {
  height: 58px;
}

.navbar_link {
  text-decoration: none;
}

.navbar_item {
  background-color: var(--button-transparent);
  display: flex;
  color: white;
  text-align: center;
  padding: 11px 120px;
  margin: 0 -120px;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  font-size: 30px;
}

.navbar_item:hover {
  cursor: pointer;
  color: black;
  background-color: var(--hover-light);
}

.userProfilePicture {
  border-radius: 50%;
}

/* DISCOVER SCREEN */
.discoverScreen {
  text-align: center;
  overflow: hidden;
}

.searchContainer {
  margin: 1%;
}

.discoverSearch {
  text-align: center;
  font-size: 20px;
}

.discoverSearchButton {
  margin-bottom: 24px;
}

.playlistDiscover {
  display: flex;
  margin-top: 1%;
  margin-left: 12%;
}

.discoverPlaylistGrid {
  height: 90%;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
}

/* GENERATE SCREEN */
.generateScreen {
  height: 100%;
}
.generateScreenTitleText {
  margin-top: 3.5%;
  margin-bottom: 2.5%;
  font-size: 72px;
  font-weight: bolder;
  text-align: center;
  font-style: italic;
}

.generateScreenModules {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  margin-top: 1.5%;
  margin-left: 10.15%;
  margin-bottom: 1%;
  height: 53vmin;
  max-height: 53%;
  width: 35%;
  padding: 0.5%;
  border-style: outset;
}

.generateScreenText {
  font-size: 24px;
  font-weight: bold;
}

.generateLeftScroller {
  overflow-y: auto;
  height: 102%;
}

.generateRightScroller {
  overflow-y: auto;
  height: 40vmin;
  width: 40%;
  border-style: inset;
}

#locationText1 {
  float: left;
  margin-left: 3.5%;
}

#locationText2 {
  margin-left: 48%;
}

#locationText3 {
  float: right;
  margin-right: 11%;
}

#gsbRight { 
  margin-right: -8%; 
}

.generateInput {
  font-size: 18px;
  width: 21vw;
}

.generateInputSmall {
  font-size: 18px;
  width: 5vw;
}

.generateSquareButton {
  float: right;
  margin-right: 0.5%;
  margin-left: 1.5%;
}

.generateSquareButton:hover {
  cursor: pointer;
}

#genreText1 {
  float: left;
  margin-left: 18px;
}

.generateInputGenre {
  font-size: 18px;
  float: left;
  margin-left: 10px;
}

.genreList {
  text-align: center;
  font-size: 24px;
}

.genreLeft {
  float: left;
  width: 265px;
  height: 345px;
}

.generateDivider {
  width: 85%;
  margin-top: -0.5%;
  margin-bottom: -3%;
  margin-left: 7.5%;
  align-items: center;
  justify-content: center;
}

.maxSongInputArea {
  margin: 0 auto;
  width: 9%;
}

#songNumberInput {
  text-align: center;
  margin-right: 2%;
}

.generateBottomArea {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.generateButtonBox {
  margin-top: 1.5%;
}

.genreButton {
  margin: 2%;
}

/* PLAYLISTS SCREEN */
.playlistsScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.playlists_container {
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
}

.playlists:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.playlists:active {
  cursor: pointer;
  background-color: var(--primary);
}

.playlists_row {
  align-content: center;
  padding: 40px;
}
.playlistsColumn {
  display: flex;
  flex-direction: row;
}

.playlistsInfo {
  display: inline-block;
}

.playlists_art { 
  display: inline-block;
  height: 150px;
  width: 150px;
}

.playlists_description {
  display: inline-block;
  align-content: center;
  justify-content: center;
}

.playlists {
  display: flex;
  flex-direction: row;
  border: #333333;
  border-radius: 5px;
}

.playlistsSearchContainer {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.playlistsSearch {
  text-align: center;
  font-size: 20px;
}

.playlistInfo {
  color: var(--accent);
  margin-left: 2%;
}

.playlistSubText {
  margin-top: -5%;
  margin-bottom: 5%;
  font-size: 16px;
  color: var(--accent);
}

/* PROFILE SCREEN */
.profileScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.profileScreenOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20%;
}

.profileScreenLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 12%;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  user-select: none;
  filter: drop-shadow(5px 0px 0px #333333);
}

.profileOptionsText {
  font-size: 32px;
  text-align: right;
  margin-top: 40%;
  margin-right: 0%;
}

.profileOptionsText:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 6px #555555);
}

.profileOptionsButton {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-top: 40%;
}

.profileScreenMainContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 3%;
  padding-top: 1%;
  padding-right: 12%;
}

.profileScreenMainContainerFollowing {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  padding: 3%;
  padding-right: 12%;
}

.followingSearchContainer {
  margin: auto;
}

.profileScreenSubText {
  font-weight: bold;
  margin-top: 5%;
  font-size: 18px;
}

.profileTextArea {
  resize: none !important;
}

.profileInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileInput {
  width: 70%;
}

.profileAccountSubText {
  margin-left: 3%;
  font-size: 16px;
  font-weight: bold;
}

.profileAccountSubText:hover {
  cursor: pointer;
  text-decoration: underline;
}

.profileScreenScrollContainer {
  height: 90%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.profileScreenFollowing {
  color: black;
  display: flex;
  margin-top: 1%;
  margin-left: 4%;
  width: 95%;
}

.profileScreenFollowing:hover {
  box-shadow: 5px 7px 0px var(--accent);
  cursor: pointer;
  background-color: var(--secondary);
  color: black
}
.profileFollowingInfo {
  width: 60%;
  overflow-wrap: break-word;
}

/* VIEW PROFILE SCREEN */
.viewProfileScreenContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 3%;
  padding-right: 12%;
}

.viewProfileScreenLabel {
  margin-top: 2%;
  font-weight: bold;
  font-size: 18px;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  border: #333333;
  width: 90%;
  border-radius: 5px;
}

.profilePicture{
  display: inline-block;
  height: 150px;
  width: 150px;
}

.profileName{
  display: inline-block;
  align-content: center;
  justify-content: center;
  margin: 5%;
}

/* Playlist Screen */
.playlistScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.playlistScreenLeftBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 30%;
}
.playlistScreenLeftContainer {
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  /* padding-right: 12%; */
  height: 100%;
  /* margin-left: 10%; */
  user-select: none;
  /* filter: drop-shadow(5px 0px 0px #333333); */
}

.playlistArt {
  margin-left: 2%;
  margin-top: 2.5%;
  /* margin-top: -110%; */
  /* margin-bottom: 100%;
  justify-content: center;
  align-content: center; */
  display: inline-block;
  height: 200px;
  width: 200px;
}
.playlistInfo {
  display: inline-block;
  /* align-content: center; */
  /* justify-content: center; */
  margin-left: 2%;
}

.playlistGenreLabel {
  margin-top: 10%;
  font-size: 32px;
  text-align: left;
  margin-left:4%;
}

.playlistGenreBox {
  display:flex;
  flex-direction: column;
  
  /* justify-content: center; */
  border-color: black;
  width: 70%;
  height: 50%;
  border: solid;
  margin-left: 4%
}

.playlistGenreText {
  
  display: flex;
  margin-top:4%;
  justify-content: center;
  font-size: 24px;
  width: 100%;
  height: min-content;
  border-bottom: solid;
  padding-bottom: 2%;
}

.playlistSongsContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.playlistSongsBox {
  display: inline-block;
  width: 80%;
  height: 100%;
  margin-left: 5%;
  padding-left: 15%;
  padding-top: 2%;
  border-left: solid;
  border-color: grey;
}
.playlistSongTitle {
  display: inline-block;
  width: 60%;
}

.playlistSongIcon {
  display: inline-block;
}
.playlistSongArtist {
  display: inline-block;
  width: 20%;
}

.playlistSongDuration {
  display: inline-block;
  width: 20%;
}

.playlistSongBox {
  display: flex;
  flex-direction: column;

}

.playlistSongBar {
  border: solid;
  display:inline-block;
}
/* ANIMATIONS */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes appLogoWaveIntro {
  0% {
    transform: scaleY(0.1);
  }
  30% {
    transform: scaleY(1.3);
  }
  60% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(1.0);
  }
}

/* -------------- wave effect taken from https://codeconvey.com/ripple-effect-on-button-click-css ------------- */
@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: .4;
  }
  100% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}
 
@keyframes ripple {
  0% {
      width: 0;
      height: 0;
      opacity: .4;
  }
  
  100% {
      width: 100%;
      height: 100%;
      opacity: 0;
  }
}

.ripple:before {
  overflow:hidden;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: gray;
  visibility: hidden;
  z-index: 2;
}

.ripple:not(:active):before {
  overflow:hidden;
  -webkit-animation: ripple 0.5s cubic-bezier(0, 0, 0.2, 1);
          animation: ripple 0.5s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: visibility .5s step-end;
  /* transition: visibility .4s step-end; */
  transition: visibility .5s ease-out;
}

.ripple:active:before {
  overflow:hidden;
  visibility: visible;
}