/* GENERAL STUFF */
:root{
  --primary: #3aafa9; 
  --secondary: #c5e1e0; 
  --accent: #101a1e; 
  --background: #feffff;
  --hue: "0deg";
  --buttonColor: teal;
  --button-transparent:  rgba(255,255,255, 0);
  --hover-light: rgba(255,255,255, 0.7);
}

#root {
  overflow: hidden;
}

html, body, #root, #app, #app>div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder { 
  color: #777777 !important;
  opacity: 1;
}

/* SPLASH SCREEN */
.App {
  text-align: center;
}

.app_logo_container {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appLogoBG {
  position: relative;
  pointer-events: none;
  animation: appLogoWaveIntro 1.5s linear;
}

.appLogoFG {
  position: absolute;
  pointer-events: none;
  margin-top: -0.5%;
  transform: scale(0.87);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.splashLoginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.splashTextSubtitle {
  width: 40%;
  text-align: right;
  margin-right: 3%;
  font-style: italic;
  user-select: none;
}

.splashLoginBox {
  width: 40%;
  padding: 2%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(7px 7px 2px #222222);
}

.splashInputContainer {
  width: 80%;
  align-items: center;
  padding-top: 3%;
}

.splashInput {
  font-size: 18px;
}

.splashText {
  font-weight: bolder;
  text-align: center;
  margin: 5%;
  text-decoration: none;
  user-select: none;
}

.splashTextSmall {
  font-size: 16px;
  margin: 5%;
  text-decoration: underline;
  color: black;
}

.splashTextSmall:hover {
  color: white;
  cursor: pointer;
}


.splashTestSelect {
  color: black;
  position: absolute;
  margin-left: 85%;
}

.clickButton {
  color: var(--background) !important;
  background-color: var(--buttonColor) !important;
}

.clickButton:hover {
  background-color: var(--primary) !important;
}

.clickButton:active {
  background-color: var(--secondary) !important;
  color: var(--accent) !important;
}

.clickable:hover {
  cursor: pointer;
}

.recoverPasswordTextfield {
  left: 22%;
}

.registerTextfield {
  left: 22%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.signOutText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.recoverPasswordModalButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signOutModalButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownChangeTheme {
  position: absolute;
  left: 84%;
  top: 90.5%;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 6.5%;
  background-color: #333333;
  text-align: center;
}

.App-logo-navbar {
  height: 58px;
}

.navbar_link {
  text-decoration: none;
}

.navbar_item {
  background-color: var(--button-transparent);
  display: flex;
  color: white;
  text-align: center;
  padding: 11px 120px;
  margin: 0 -120px;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  font-size: 30px;
}

.navbar_item:hover {
  cursor: pointer;
  color: var(--accent);
  background-color: var(--hover-light);
}

.userProfilePicture {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* DISCOVER SCREEN */
.discoverScreen {
  text-align: center;
  overflow: hidden;
  padding: 0 6% 0 6%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.discoverSearchContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: double;
  border-width: 0 0 3px 0;
  border-color: var(--secondary);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.discoverTitleText {
  margin-bottom: 1%;
  font-size: 36pt;
  font-weight: bolder;
  font-style: italic;
  user-select: none;
  color: var(--accent);
  filter: drop-shadow(3px 3px 0px var(--secondary));
}

.discoverSearch {
  text-align: center;
  font-size: 12pt;
}

.playlistDiscover {
  display: flex;
  margin-top: 1%;
  margin-left: 12%;
}

.discoverPlaylistGrid {
  margin: 0 auto;
  margin-left: 1%;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  flex: 1 1 auto;
}

.discoverBottomContainer {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 9%;
}

.discoverFilterContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 1%;
  width: 17%;
}

.discoverFilterButton {
  width: 50%;
}

.discoverRandomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  margin-left: 1%;
}

.discoverFilterText {
  color: var(--background);
  font-size: 30px;
  margin-right: 5%;
  margin-bottom: 1%;
}

/* GENERATE SCREEN */
.generateScreen {
  height: 100%;
}

.generateScreenTitleText {
  margin-top: 3.5%;
  margin-bottom: 2.5%;
  font-size: 32pt;
  font-weight: bolder;
  text-align: center;
  font-style: italic;
  user-select: none;
  color: var(--accent);
  filter: drop-shadow(3px 3px 0px var(--secondary));
}

.generateScreenModules {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin-top: 1.5%;
  margin-left: 10.15%;
  margin-bottom: 1%;
  height: 53vmin;
  max-height: 53%;
  width: 35%;
  padding: 0.5%;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
}

.generateScreenText {
  font-size: 24px;
  font-weight: bold;
  user-select: none;
}

.generateScreenBox {
  overflow-y: hidden;
  width: 100%;
}

.generateLeftScroller {
  overflow-y: auto;
  height: 21vw;
}

.generateRightScroller {
  overflow-y: auto;
  background-color: none;
  height: 40vmin;
  width: 39%;
  user-select: none;
  margin-right: -63%;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}

#locationText1 {
  float: left;
  margin-left: 4.5%;
  user-select: none;
}

#locationText2 {
  margin-left: 48%;
  user-select: none;
}

#locationText3 {
  float: right;
  margin-right: 10%;
  user-select: none;
}

#gsbRight { 
  margin-right: -8%; 
}

.generateInput {
  font-size: 18px;
  width: 21vw;
}

.generateInputSmall {
  font-size: 18px;
  width: 5vw;
}

.generateSquareButton {
  float: right;
  margin-right: 0.5%;
  margin-left: 1.5%;
}

.generateSquareButton:hover {
  cursor: pointer;
}

#genreText1 {
  float: left;
  margin-left: 18px;
  user-select: none;
}

.generateInputGenre {
  font-size: 18px;
  float: left;
  margin-left: 10px;
}

.genreList {
  text-align: center;
  font-size: 24px;
}

.genreLeft {
  float: left;
  width: 265px;
  height: 345px;
}

.generateDivider {
  width: 85%;
  margin-top: -0.5%;
  margin-bottom: -3%;
  margin-left: 7.5%;
  align-items: center;
  justify-content: center;
}

.maxSongInputArea {
  margin: 0 auto;
  width: 9%;
}

#songNumberInput {
  text-align: center;
  margin-right: 2%;
}

.generateBottomArea {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.generateButtonBox {
  margin-top: 1.5%;
}

.generateButton:hover {
  cursor: pointer;
}

.genreButton {
  margin: 2%;
}

/* PLAYLISTS SCREEN */
.playlistsScreen {
  text-align: center;
  overflow: hidden;
  padding: 0 6% 0 6%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.createPlaylistButtonContainer {
  width: 32.5%;
  height: 105%;
  display: flex;
  flex-direction: row;
  border: #333333;
  border-radius: 5px;
  margin-left: 0%;
}

.playlists_container {
  padding-left: 2%;
  padding-right: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
}

.playlist {
  overflow: clip;
  color: var(--accent);
  display: flex;
  flex-direction: row;
  border: #333333;
  border-radius: 5px;
}

.playlist:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.playlist:active {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
}

.playlistTextContainer {
  display: flex;
  flex-direction: column;
}

.playlistName {
  width: 100%;
  font-weight: bold;
  font-size: 18pt;
  text-align: left;
  flex: 0 1 auto;
  margin: 3% 0 0 5%;
}

.playlistInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  margin-left: 5%;
}

.playlist_art { 
  display: inline-block;
  height: 150px;
  width: 150px;
}

.playlists_description {
  display: inline-block;
  align-content: center;
  justify-content: center;
}

.playlistsSearchContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: double;
  border-width: 0 0 3px 0;
  border-color: var(--secondary);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.playlistsSearch {
  text-align: center;
  font-size: 12pt;
}

.playlistSubText {
  text-align: left;
  font-size: 13pt;
}

/* PROFILE SCREEN */
.profileScreen {
  position: relative;
  padding: 0 6% 0 6%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.profileScreenOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20%;
}

.profileScreenLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 12%;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  user-select: none;
  filter: drop-shadow(0px 0px 4px #333333);
}

.profileOptionsText {
  font-size: 32px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 20%;
  margin-right: -17.6%;
  padding-top: 15%;
  padding-bottom: 15%;
  border-style: inset;
  border-color: var(--primary);
}

.profileOptionsText:hover {
  cursor: pointer;
  text-shadow: 0px 0px 10px #555555;
}

.profileOptionsButton {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 30%;
}

.myProfileScreen {
  width: 78%;
  display: flex;
  justify-content: center;
}

.profileScreenMainContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 3%;
}

.profileScreenChangeAvatarContainer {
  width: 40%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.25%;
}

.myProfilePicture {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: -3%;
  border-radius: 50%;
}

.changeProfileButton {
  margin: 0 auto;
  width: 60%;
}

.changeAvatarTextField {
  left: 22%;
}

.profileScreenMainContainerFollowing {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  padding: 3%;
  padding-right: 12%;
}

.followingSearchContainer {
  margin: auto;
}

.profileScreenSubText {
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 1%;
  font-size: 18px;
}

.profileScreenUpdateButton {
  margin-top: 3%;
}

.profileTextArea {
  resize: none !important;
}

.profileInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileInput {
  width: 70%;
}

.profileScreenScrollContainer {
  height: 90%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.profileScreenFollowing {
  color: var(--accent);
  display: flex;
  margin-top: 2%;
  margin-left: 4%;
  width: 95%;
  height: 85%;
}

.profileScreenFollowing:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--accent);
}
.profileFollowingInfo {
  width: 60%;
  margin-left: 2%;
  overflow-wrap: break-word;
}

/* VIEW PROFILE SCREEN */
.viewProfileScreenContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 2%;
}

.viewProfileScreenLabel {
  margin-top: 2%;
  margin-bottom: 4%;
  font-weight: bold;
  font-size: 18px;
  color: var(--accent);
}

.viewProfileTextArea {
  margin-top: -2%;
  margin-bottom: 14%;
}

.viewProfilePlaylists {
  display: flex;
  flex-direction: row;
  border: #333333;
  border-radius: 5px;
  margin-left: 0%;
  margin-bottom: 10%;
}

.viewProfilePlaylists:hover {
  background-color: var(--secondary);
}

.profileContainerLeft {
  display: flex;
  flex-direction: column;
  height: 71%;
  width: 25%;
  margin-right: 1%;
  background-color: var(--secondary);
  padding: 1%;
  filter: drop-shadow(5px 0px 0px var(--accent));
}

.profileContainerRight {
  display: flex;
  flex-direction: column;
  border: #333333;
  height: 71%;
  width: 72%;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.profileContainerTop {
  display: flex;
  flex-direction: row;
  padding-bottom: 1%;
}

.profilePicture{
  display: inline-block;
  height: 150px;
  width: 150px;
  margin-bottom: 3%;
}

.profileName {
  display: flex;
  width: 20%;
  justify-content: center;
  margin-left: 22%;
  color: var(--accent);
  text-align: center;
  font-style: italic;
}

.followButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.followButton {
  width: 50%;
}

/* PLAYLIST SCREEN */
.playlistScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: 2%;
}
.playlistScreenLeftBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 35%;
  margin-right: 6%;
  user-select: none;
}
.playlistScreenLeftContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow-x: hidden;
  user-select: none;
  background-color: var(--secondary);
  filter: drop-shadow(0px 0px 4px #333333);
}

.playlistPlayAllButton {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 0%;
}

.playlistSideButtons {
  display: flex;
  flex-direction: column;
}

.playlistArt {
  margin-left: 2%;
  margin-top: 2.5%;
  height: 200px;
  width: 200px;
}

.playlistScreenInfo {
  margin-left: 2%;
  display: flex;
  width: 100%;
}

.playlistMetadata {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 3%;
}

.playlistTitleHandling {
  display: flex;
  align-items: center;
  width: 150%;
}

.playlistTitle {
  margin-top: 3%;
  font-size: 20px;
  border-style: none;
  width: 100%;
}

.playlistTitleDivider {
  margin-top: -4%;
  width: 150%;
}

.playlistAddSongDivider {
  margin: 0 auto;
  margin-bottom: 0.75%;
  border-style: double;
  border-width: 3px 0 0 0;
  border-radius: 0%;
  border-color: #999999;
  width: 90%;
}

.addSongEntireContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.addSongContainer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 2%;
}

.addSongSearchContainer {
  width: 60%;
}

.addSongSearch {
  background-color: var(--background);
  width: 50%;
  margin-right: 0.5%;
  text-align: center;
  font-size: 12pt;
}

.playlistNumSongs {
  font-size: 17px;
  margin-left: 1%;
  margin-top: -4%;
}

.playlistDescriptionText {
  font-size: 16px;
  padding: 1%;
  margin: 3%;
  margin-left: 4%;
  margin-right: 4%;
  text-align: left;
  font-style: italic;
  word-wrap: break-word;
  height: 15%;
  border-style: solid;
  border-width: 0.5px;
  border-color: #bbbbbb;
  resize: none !important;
}

.playlistGenreBox {
  display: flex;
  flex-direction: column;
  margin-top: -2%;
  border-style: none;
  width: 100%;
  height: 50%;
  text-align: center;
}

.playlistGenreText {
  display: flex;
  margin: 0 auto;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 60%;
  border-top: solid;
  border-width: 1px;
  border-color: #999999;
  padding-top: 3%;
  padding-bottom: 1%;
}

.playlistSongsContainer {
  display: flex;
  flex-direction: column;
  margin-top: -3%;
  width: 60%;
  height: 100%;
  text-align: right;
}

.playlistSongsBox {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: 2%;
}
.playlistSongTitleLabel, .playlistSongArtistLabel, .playlistSongDurationLabel {
  font-size: 20px;
  font-style: italic;
}

.playlistSongTitleLabel { margin-left: 15%;}

.playlistSongArtistLabel { margin-left: 33%;}

.playlistSongDurationLabel { margin-left: 23%;}

.playlistSongTitle, .playlistSongDuration, .playlistSongArtist {
  display: flex;
}

.playlistSave {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-top: 1%;
}

.playlistSaveButton {
  margin-right: -2%;
  width: 25.5%;
}

.playlistSaveButton:hover {
  cursor: pointer;
}

.playlistSongIcon {
  padding-top: 0.2%;
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.playlistSongIcon:hover {
  cursor: pointer;
  color: var(--primary);
}

.playlistSongIcon:active {
  cursor: pointer;
  color: var(--buttonColor);
}

.playlistSongTitle {
  text-align: left;
}

.playlistSongArtist {
  position: absolute;
  left: 72.5%;
}

.playlistSongDuration {
  position: absolute;
  right: 10.3%;
}

.playlistSongBox {
  display: flex;
  align-items: center;
  margin-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
}

.playlistSongBar {
  font-size: 16px;
  background-color: var(--secondary);
  border: outset;
  border-width: 1px;
  padding: 1%;
  width: 100%;
  display: flex;
}

.songNumber {
  font-size: 18px;
  padding-top: 0.25%;
  padding-right: 0.75%;
  color: red;
}

.songPlayingBar {
  padding: 0.1%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.windowButtonContainer {
  width: max-content;
  text-align: right;
  position: fixed;
  transform: translateY(-125%);
}

.playerWindowButton {
  background-color: transparent;
  color: var(--buttonColor);
}

.playerWindowButton:hover {
  cursor: pointer;
}

.songPlayerStatusMessage {
  justify-content: center;
}

.songPlay, .songPause {
  color: var(--buttonColor);
}

.songPlay:hover, .songPause:hover {
  color: var(--secondary);
}


/* ANIMATIONS */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes appLogoWaveIntro {
  0% {
    transform: scaleY(0.1);
  }
  30% {
    transform: scaleY(1.3);
  }
  60% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(1.0);
  }
}

/* -------------- wave effect taken from https://codeconvey.com/ripple-effect-on-button-click-css ------------- */
@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: .4;
  }
  100% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}
 
@keyframes ripple {
  0% {
      width: 0;
      height: 0;
      opacity: .4;
  }
  
  100% {
      width: 100%;
      height: 100%;
      opacity: 0;
  }
}

.ripple:before {
  overflow:hidden;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: gray;
  visibility: hidden;
  z-index: 2;
}

.ripple:not(:active):before {
  overflow:hidden;
  -webkit-animation: ripple 0.5s cubic-bezier(0, 0, 0.2, 1);
          animation: ripple 0.5s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: visibility .5s step-end;
  transition: visibility .5s ease-out;
}

.ripple:active:before {
  overflow:hidden;
  visibility: visible;
}

.playerTab {
  padding-inline: 8px;
  padding-block: 4px;
  color: white;
  background-color: var(--buttonColor);
  user-select: none;
}

.playerTab:hover {
  cursor: pointer;
}
