/* GENERAL STUFF */
:root{
  --primary: #e81b23; 
  --secondary: #32c2e6; 
  --tertiary: #ffd200; 
  --accent: #111111; 
  --button-transparent:  rgba(255,255,255, 0);
  --background: #ffedbe;
  --hover-light: rgba(255,255,255, 0.7);
}

#root {
  overflow: hidden;
}

html, body, #root, #app, #app>div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* SPLASH SCREEN */
.App {
  text-align: center;
}

.app_logo_container {
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appLogoBG {
  position: relative;
  /* height: 35vmin;
  top: -67px; */
  pointer-events: none;
  animation: appLogoWave 2.5s linear;
  animation-iteration-count: 1;
}

.appLogoFG {
  /* transform: scale(0.45); */
  position: absolute;
  /* height: 35vmin;
  top: 195px;
  left: 23px; */
}

.appLogoFG:hover {
  filter: hue-rotate(50deg);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-spin {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.splashText {
  font-weight: bold;
  color: black;
  background-color: var(--button-transparent);
  text-align: center;
  padding: 11px 120px;
  margin: 0 -120px;
  margin-top: 1%;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  font-size: 30px;
}

.splashText:hover {
  cursor: pointer;
  background-color: var(--hover-light);
}

.splashTestSelect {
  color: black;
  position: absolute;
  margin-left: 85%;
}

.clickable:hover {
  cursor: pointer;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 6.5%;
  background-color: #333;
  text-align: center;
}

.App-logo-navbar {
  height: 58px;
}

.navbar_link {
  text-decoration: none;
}

.navbar_item {
  background-color: var(--button-transparent);
  display: flex;
  color: white;
  text-align: center;
  padding: 11px 120px;
  margin: 0 -120px;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  font-size: 30px;
}

.navbar_item:hover {
  cursor: pointer;
  color: black;
  background-color: var(--hover-light);
}

/* DISCOVER SCREEN */
.discoverScreen {
  text-align: center;
}

.discoverSearch {
  margin-top: 25px;
  padding-top: 4px;
  padding-bottom: 7px;
  text-align: center;
  font-size: 28px;
}

.discoverSearchButton {
  margin-bottom: 24px;
}

.scrollDownButtonContainer {
  width: 600px;
  margin: auto;
}

.scrollDownButton {
  position: relative;
  top: 700px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  font-size: 28px;
}

/* GENERATE SCREEN */
.generateScreenTitleText {
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 72px;
  font-weight: bolder;
  text-align: center;
  color: #777777;
  text-shadow: 5px 5px 0px #00ffff;
}

.generateScreenModules {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin-top: 30px;
  margin-left: 190px;
}

.generateScreenText {
  font-size: 24px;
  margin-left: 18px;
  font-weight: bold;
}

.generateScreenBox {
  border-style: none;
  border-radius: 2px;
  border-color: #555555;
  background-color: white;
  width: 550px;
  display: inline-block;
  margin-left: 0px;
  margin-top: -20px;
}

.generateLeftScroller {
  overflow-y: auto;
  height: 100%;
}

.generateRightScroller {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

#locationText1 {
  float: left;
  margin-left: 19px;
}

#locationText2 {
  margin-left: 260px;
}

#locationText3 {
  float: right;
  margin-right: 55px;
}

#gsbLeft { height: 550px; }

#gsbRight { height: 300px; }

#gsbBottom { height: 100px; }

.generateInput {
  font-size: 18px;
}

.generateSquareButton {
  float: right;
  margin-right: 0.5%;
  margin-left: 1.5%;
}

.generateSquareButton:hover {
  cursor: pointer;
}

#genreText1 {
  float: left;
  margin-left: 18px;
}

.generateInputGenre {
  font-size: 18px;
  float: left;
  margin-left: 10px;
}

.genreList {
  text-align: center;
  font-size: 24px;
}

.genreLeft {
  float: left;
  width: 265px;
  height: 345px;
}

.maxSongInputArea {
  margin-left: 90px;
}

#songNumberInput {
  text-align: center;
  margin-left: 2px;
  margin-right: 5px;
}

.generateBottomArea {
  margin-top: 50px;
}

.generateButtonBox {
  margin-top: 60px;
  margin-left: 20px;
}
/* Playlists Screen */

.playlistScreen_container {
  columns: 2 auto;
}
.playlistColumn {
  display: flex;
  flex-direction: row;
}
/* 
.playlistRow {
  
} */

.playlistInfo {
  display: inline-block;
}

.playlist_art { 
  display: inline-block;
  height: 150px;
  width: 150px;
}

.playlist_description {
  display: inline-block;
  /* position: relative; */
}

.playlist {
  display: flex;
  flex-direction: row
}

/* ANIMATIONS */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes appLogoWave {
  0% {
    transform: scaleY(0.1);
  }
  20% {
    transform: scaleY(1.5);
  }
  40% {
    transform: scaleY(1.25);
  }
  70% {
    transform: scaleY(1.05);
  }
  100% {
    transform: scaleY(1.0);
  }
}

/* -------------- wave effect taken from https://codeconvey.com/ripple-effect-on-button-click-css ------------- */
@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: .4;
  }
  100% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}
 
@keyframes ripple {
  0% {
      width: 0;
      height: 0;
      opacity: .4;
  }
  
  100% {
      width: 100%;
      height: 100%;
      opacity: 0;
  }
}

.ripple:before {
  overflow:hidden;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: gray;
  visibility: hidden;
  z-index: 2;
}

.ripple:not(:active):before {
  overflow:hidden;
  -webkit-animation: ripple 0.5s cubic-bezier(0, 0, 0.2, 1);
          animation: ripple 0.5s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: visibility .5s step-end;
  /* transition: visibility .4s step-end; */
  transition: visibility .5s ease-out;
}

.ripple:active:before {
  overflow:hidden;
  visibility: visible;
}