/* GENERAL STUFF */
:root{
  --primary: #3aafa9; 
  --secondary: #c5e1e0; 
  --accent: #101a1e; 
  --background: #feffff;
  --hue: "0deg";
  --buttonColor: teal;
  --button-transparent:  rgba(255,255,255, 0);
  --hover-light: rgba(255,255,255, 0.7);
}

#root {
  overflow: hidden;
}

html, body, #root, #app, #app>div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder { 
  color: #777777 !important;
  opacity: 1;
}

/* SPLASH SCREEN */
.App {
  text-align: center;
}

.splashLogoContainer {
  padding-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appLogoBG {
  pointer-events: none;
  animation: appLogoWaveIntro 1.5s linear;
}

.appLogoFG {
  position: absolute;
  pointer-events: none;
  margin-top: -0.5%;
  transform: scale(0.87);
  filter: hue-rotate(var(--hue));
}

.splashScreenBackground {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(var(--background), var(--primary));
}

.App-link {
  color: #61dafb;
}

.splashLoginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.splashTextSubtitle {
  width: 40%;
  text-align: right;
  margin-right: 3%;
  font-style: italic;
  user-select: none;
  color: var(--accent);
}

.splashLoginBox {
  width: 40%;
  padding: 2%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(7px 7px 2px #222222);
  background-color: var(--primary);
}

.loginErrorMessage {
  color: red;
  margin-top: 0.6%;
  margin-bottom: 0.4%;
  font-size: 12pt;
  font-weight: bold;
}

.splashInputContainer {
  width: 80%;
  align-items: center;
  padding-top: 3%;
}

.splashInput {
  font-size: 18px;
}

.splashText {
  font-weight: bolder;
  text-align: center;
  margin: 5%;
  text-decoration: none;
  user-select: none;
  color: var(--accent);
}

.splashTextSmall {
  font-size: 16px;
  margin: 5%;
  text-decoration: underline;
  color: black;
}

.splashTextSmall:hover {
  color: white;
  cursor: pointer;
}


.splashTestSelect {
  color: black;
  position: absolute;
  margin-left: 85%;
}

.clickButton {
  color: var(--background) !important;
  background-color: var(--buttonColor) !important;
}

.clickButton:hover {
  background-color: var(--primary) !important;
}

.clickButton:active {
  background-color: var(--secondary) !important;
  color: var(--accent) !important;
}

.clickable:hover {
  cursor: pointer;
}

.recoverPasswordTextfield {
  left: 22%;
}

.registerTextfield {
  left: 22%;
  margin-top: 1%;
  margin-bottom: 1%;
  align-content: baseline;
}

.signOutText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.recoverPasswordModalButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signOutModalButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownChangeTheme {
  position: absolute;
  left: 91%;
  top: 91.5%;
}

.dropdownMenu {
  background-color: var(--secondary) !important;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 6.5%;
  background-color: #333333;
  text-align: center;
}

.App-logo-navbar {
  height: 58px;
}

.navbar_link {
  text-decoration: none;
}

.navbar_item {
  background-color: var(--button-transparent);
  display: flex;
  color: white;
  text-align: center;
  padding: 11px 120px;
  margin: 0 -120px;
  text-decoration: none;
  transition: 0.1s ease-in-out;
  font-size: 30px;
}

.navbar_item:hover {
  cursor: pointer;
  color: var(--accent);
  background-color: var(--hover-light);
}

.userProfilePicture {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* DISCOVER SCREEN */
.discoverScreen {
  text-align: center;
  overflow: hidden;
  padding: 0 6% 0 6%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.discoverSearchContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: double;
  border-width: 0 0 3px 0;
  border-color: var(--secondary);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.discoverTitleText {
  margin-bottom: 1%;
  font-size: 36pt;
  font-weight: bolder;
  font-style: italic;
  user-select: none;
  color: var(--accent);
  filter: drop-shadow(3px 3px 0px var(--secondary));
}

.discoverSearch {
  text-align: center;
  font-size: 12pt;
}

.playlistDiscover {
  display: flex;
  margin-top: 1%;
  margin-left: 12%;
}

.discoverPlaylistGrid {
  margin: 0 auto;
  margin-left: 1%;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  flex: 1 1 auto;
}

.discoverBottomContainer {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 9%;
}

.discoverFilterContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 1%;
  width: 17%;
}

.discoverFilterButton {
  width: 50%;
}

.discoverRandomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  margin-left: 1%;
}

.discoverFilterText {
  color: var(--background);
  font-size: 30px;
  margin-right: 5%;
  margin-bottom: 1%;
}

/* GENERATE SCREEN */
.generateTabPane {
  background-color: var(--secondary);
  padding: 1%;
  overflow: auto;
}

.generateScreen {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.generateScreenTitleText {
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 40pt;
  font-weight: bolder;
  text-align: center;
  font-style: italic;
  user-select: none;
  color: var(--accent);
  filter: drop-shadow(3px 3px 0px var(--secondary));
}

.generateScreenTopContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.generateScreenTopInnerContainerLocation, .generateScreenTopInnerContainerDate {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  height: 50vmin;
  width: 38%;
  padding: 0.5%;
  margin-bottom: 2%;
  overflow: hidden;
}

.generateScreenTopInnerContainerLocation {
  border-style: double;
  border-width: 3px;
  border-color: var(--secondary);
}

.generateScreenTopInnerContainerDate {
  background-color: var(--background);
  border-style: solid;
  filter: drop-shadow(0px 0px 2px #333333);
  border-width: 3px;
  border-color: var(--secondary);
  border-radius: 25px;
}

.generateInput { 
  font-size: 18px; 
  color: var(--secondary);
}

.generateScreenBox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.genreRightContainer {
  background-color: none;
  width: 40%;
  user-select: none;
  margin-top: -2%;
}

.genreRightContainerInner {
  height: 44vmin;
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondary);
  overflow-y: auto;
}

.generateLeftContainer {
  overflow-y: hidden;
  float: left;
  width: 50%;
  margin-top: -1%;
}

.generateTopCountries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

.categoryTextContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-left: 4%;
}

.genreList {
  text-align: center;
  font-size: 24px;
  margin-bottom: 2%;
}

.categoryTextContainer:hover {
  filter: drop-shadow(1px 1px 2px var(--primary));
}

.removeCategoryIcon {
  margin-right: 4%;
}

.removeCategoryIcon:hover {
  color: var(--buttonColor);
}

.generateScreenButtonContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  height: 37vmin;
  overflow-y: scroll;
}

.genreButton {
  margin-bottom: 2%;
}

.generateDividerDate, .generateDividerLocation {
  width: 88%;
  margin-bottom: -3%;
  margin-left: 6%;
  border-width: 0 0 3px 0;
  border-color: var(--secondary);
}

.generateDividerDate {
  border-style: solid;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 2px #333333);
}

.generateDividerLocation {
  border-style: double;
}

.maxSongInputArea {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

#songNumberInput {
  text-align: center;
  margin-right: 2%;
}

.generateBottomArea {
  /* margin-top: 4%; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.generateButtonBox {
  margin-top: 0.5%;
}

/* PLAYLISTS SCREEN */
.playlistsScreen {
  text-align: center;
  overflow: hidden;
  padding: 0 6% 0 6%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.createPlaylistButtonContainer {
  width: 32.5%;
  height: 105%;
  display: flex;
  flex-direction: row;
  border: #333333;
  border-radius: 5px;
  margin-left: 0%;
}

.playlists_container {
  padding-left: 2%;
  padding-right: 2%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
}

.playlist {
  overflow: clip;
  color: var(--accent);
  display: flex;
  flex-direction: row;
  border: #333333;
  border-radius: 5px;
}

.playlist:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.playlist:active {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--background);
}

.playlistTextContainer {
  display: flex;
  flex-direction: column;
}

.playlistName {
  width: 100%;
  font-weight: bold;
  font-size: 18pt;
  text-align: left;
  flex: 0 1 auto;
  margin: 3% 0 0 5%;
}

.playlistInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  margin-left: 5%;
}

.playlist_art { 
  display: inline-block;
  height: 150px;
  width: 150px;
}

.playlists_description {
  display: inline-block;
  align-content: center;
  justify-content: center;
}

.playlistsSearchContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: double;
  border-width: 0 0 3px 0;
  border-color: var(--secondary);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.playlistsSearch {
  text-align: center;
  font-size: 12pt;
}

.viewProfilePlaylistInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  margin-left: 2%;
}

/* PROFILE SCREEN */
.profileScreen {
  position: relative;
  padding: 0 6% 0 6%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.profileScreenOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20%;
}

.profileScreenLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  user-select: none;
  filter: drop-shadow(0px 0px 4px #333333);
}

.profileOptionsText {
  font-size: 32px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
  padding-top: 15%;
  padding-bottom: 15%;
  border-style: inset;
  border-color: var(--primary);
}

.profileOptionsText:hover {
  cursor: pointer;
  text-shadow: 0px 0px 10px #555555;
}

.profileOptionsButton {
  display: flex;
  justify-content: center;
  margin-right: -0.25em;
  margin-bottom: 20%;
}

.myProfileScreen {
  width: 78%;
  display: flex;
  justify-content: center;
}

.profileScreenMainContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 3%;
}

.profileScreenChangeAvatarContainer {
  width: 40%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.25%;
}

.myProfilePicture {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: -3%;
  border-radius: 50%;
}

.changeProfileButton {
  margin: 0 auto;
  width: 60%;
}

.changeAvatarTextField {
  left: 22%;
}

.profileScreenMainContainerFollowing {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  padding: 3%;
}

.followingSearchContainer {
  margin: auto;
}

.searchForUserButton {
  color: var(--accent);
  display: flex;
  margin-top: 2%;
  margin-left: 4%;
  height: 85%;
}

.profileScreenSubText {
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 1%;
  font-size: 18px;
}

.profileScreenUpdateButton {
  margin-top: 3%;
}

.profileTextArea {
  resize: none !important;
}

.profileInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileInput {
  width: 70%;
}

.profileScreenScrollContainer {
  height: 90%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.profileScreenFollowing {
  color: var(--accent);
  display: flex;
  margin-top: 2%;
  margin-left: 4%;
  width: 95%;
  height: 85%;
}

.profileScreenFollowing:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--accent);
}

.profileFollowingInfo {
  width: 60%;
  margin-left: 2%;
  overflow-wrap: break-word;
}

.accountPrivacyPicker {
  margin-bottom: 12.5%;
}

/* VIEW PROFILE SCREEN */
.viewProfileScreenOutermost {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.profileRightScrollContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
  width: 60%;
  margin-left: 2%;
}

.profileContainerLeft {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  padding: 1%;
  filter: drop-shadow(0px 0px 4px #333333);
  width: 20%;
}

.profileContainerRight {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 1%;
}

.viewProfileScreenLabel {
  margin-top: 2%;
  font-weight: bold;
  font-size: 20px;
  color: var(--accent);
}

.viewProfileInfoBackground {
  margin-top: 2%;
  text-align: center;
}

.viewProfileTextArea {
  margin-top: -2%;
  margin-bottom: 14%;
  font-size: 16px;
}

.viewProfilePlaylists {
  display: flex;
  flex-direction: row;
  border: #333333;
  border-radius: 5px;
  margin-left: 0%;
  margin-bottom: 10%;
}

.viewProfilePlaylists:hover {
  background-color: var(--secondary);
}

.profileContainerTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1%;
}

.profilePicture {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin-bottom: 5%;
}

.profileName {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 36px;
  color: var(--accent);
  text-align: center;
  font-style: italic;
}

.followButtonContainer {
  display: flex;
  justify-content: center;
}

.viewProfilePlaylistPic {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
}

.playlistTitleText {
  font-size: 22px;
  color: var(--accent);
  margin-bottom: 1%;
}

.playlistSubText {
  text-align: left;
  font-size: 16px;
  margin-bottom: 0%;
  color: var(--accent);
}

/* PLAYLIST SCREEN */
.playlistScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 1px;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  flex: 1 1 auto;
}
.playlistScreenLeftBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
  user-select: none;
  padding-bottom: 2%;
}

.playlistScreenLeftContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45%;
  user-select: none;
  user-select: none;
  background-color: var(--secondary);
  filter: drop-shadow(0px 0px 4px #333333);
  overflow: hidden;
}

.playlistScreenAddSongBox {
  width: 100%;
  user-select: none;
  overflow: hidden;
  user-select: none;
  margin-top: 3%;
  background-color: var(--secondary);
  filter: drop-shadow(0px 0px 4px #333333);
}

.playlistPlayAllButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 0%;
}

.playlistSideButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.playlistArt {
  margin-left: 2%;
  margin-top: 2.5%;
  height: 200px;
  width: 200px;
}

.playlistScreenInfo {
  margin-left: 2%;
  display: flex;
  width: 100%;
}

.playlistMetadata {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 3%;
}

.playlistTitleHandling {
  display: flex;
  align-items: center;
}

.playlistTitle {
  margin-top: 3%;
  font-size: 20px;
  border-style: none;
  background-color: transparent;
}

.playlistTitleDivider {
  margin-top: -4%;
}

.playlistAddSongDivider {
  margin: 0 auto;
  margin-bottom: 1%;
  border-style: double;
  border-width: 3px 0 0 0;
  border-radius: 0%;
  border-color: #999999;
  width: 100%;
}

.addSongEntireContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.addSongText {
  font-size: 20px;
  margin: 0 auto;
  font-weight: bold;
  margin-right: 5%;
}

.addSongContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: -1%;
}

.addSongSearchContainer {
  width: 40%;
}

.addSongSearch {
  background-color: var(--background);
  width: 50%;
  margin-right: 0.5%;
  text-align: center;
  font-size: 12pt;
}

.randomSongButton {
  margin-left: 5%;
}

.displaySearchResultsContainer2 {
  height: 30vmin;
  width: 100%;
  overflow-y: auto;
}

.displaySearchResultsContainer {
  width: 100%;
}

.playlistSearchResult {
  display: flex;
  align-items: center;
  background-color: var(--background);
  font-size: 16px;
  border: outset;
  border-width: 1px;
  padding: 1%;
  margin-bottom: 0.75%;
  width: 75%;
}

.playlistSearchResultOptions {
  display: flex;
  justify-content: center;
  background-color: var(--background);
  border: outset;
  border-width: 1px;
  padding: 2.3%;
  margin-bottom: 0.75%;
  margin-left: 0.75%;
  width: 25%;
  height: 110%;
}

.playlistSearchResultBox {
  display: flex;
  align-items: center;
}

.playlistSongSearchResultImage, .searchResultImg {
  height: 50px;
  width: 50px;
  margin-right: 1%;
}

.playlistSongSearchResultInfo {
  display: flex;
  flex-direction: column;
}

.moreInfoContainer {
  display: flex;
  align-items: center;
}

.playlistSRRArt {
  width: 105px;
  height: 105px;
  margin-right: 1%;
}

.playlistSRRTitle {
  font-size: 18px;
  font-weight: bold;
}

.playlistSRRArtist {
  font-size: 16px;
}

.playlistSRRAlbum {
  font-size: 16px;
  font-style: italic;
}

.playlistSRRDuration {
  font-size: 14px;
}

.searchResultOptionButton {
  width: 40%;
  text-align: center;
}

.playlistNumSongs {
  font-size: 17px;
  margin-left: 1%;
  margin-top: -4%;
}

.playlistDescriptionContainer {
  display: flex;
  font-size: 16px;
  margin: 3%;
  margin-left: 4%;
  margin-right: 4%;
}

.playlistDescription {
  width: 100%;
  padding: 1%;
  text-align: left;
  font-style: italic;
  word-wrap: break-word;
  resize: none !important;
  border-color: #999999;
}

.playlistSongsContainer {
  display: flex;
  flex-direction: column;
  margin-top: -3%;
  width: 65%;
  height: 100%;
  text-align: right;
  box-sizing: border-box; 
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.playlistSongsContainer::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.playlistSongsBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  padding: 2% 0% 1% 0%;
  margin-left: -0.5%;
}
.playlistSongTitleLabel, .playlistSongArtistLabel, .playlistSongAlbumLabel, .playlistSongDurationLabel {
  user-select: none;
  font-size: 20px;
  font-style: italic;
}

.playlistSongTitleLabel { 
  width: 35.5%;
}

.playlistSongArtistLabel { 
  width: 24%;
}

.playlistSongAlbumLabel { 
  width: 26%;
}

.playlistSongTitleLabel:hover, .playlistSongArtistLabel:hover, .playlistSongAlbumLabel:hover, .playlistSongDurationLabel:hover {
  text-decoration: underline;
  cursor: pointer;
}

.playlistSongTitleLabel:active, .playlistSongArtistLabel:active, .playlistSongAlbumLabel:active, .playlistSongDurationLabel:active {
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary);
}

.playlistSongTitle, .playlistSongDuration, .playlistSongArtist {
  display: flex;
}

.playlistSave {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-top: 1.25%;
}


.playlistShuffleButton {
  display: flex;
  margin-right: 0.5%;
}

.playlistCopyButton {
  height: 100%;
}

.playlistSaveButton:hover {
  cursor: pointer;
}

.playlistSongIcon {
  padding-top: 0.2%;
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -1%;
}

.playlistFilterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1%;
  margin-top: 1%;
}

.playlistFilter {
  height: 90%;
  background-color: var(--secondary);
}

.playlistFilterDivider {
  height: 10px;
  margin: 1%;
  margin-bottom: 1.5%;
  width: 11%;
  border-style: double;
  border-width: 0 0 3px 0;
  border-color: #999999;
}

.removeSongIcon {
  color: var(--accent);
  padding-left: 1%;
  width: 3px;
}

.playlistSongIcon:hover, .removeSongIcon:hover {
  cursor: pointer;
  color: var(--primary);
}

.playlistSongIcon:active {
  cursor: pointer;
  color: var(--buttonColor);
}

.playlistSongTitle, .playlistSongArtist, .playlistSongAlbum, .playlistSongDuration {
  text-align: left;
  overflow-x: hidden;
  white-space: nowrap;
}

.playlistSongTitle {
  width: 36%;
  margin-right: 1.75%;
}

.playlistSongArtist {
  width: 25%;
  margin-right: 2%;
}

.playlistSongAlbum {
  width: 28%;
  margin-right: 2%;
}

.playlistSongBox {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0.3%;
  margin-bottom: 0.3%;
  user-select: none;
}

.playlistSongBar {
  font-size: 16px;
  background-color: var(--secondary);
  border: outset;
  border-width: 1px;
  padding: 1%;
  width: 87%;
  display: flex;
}

.songNumber {
  font-size: 18px;
  padding-top: 0.25%;
  padding-right: 0.75%;
  color: var(--buttonColor);
  float: right;
  width: 30px;
}

.songPlayingBar {
  padding: 0.1%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.windowButtonContainer {
  width: max-content;
  text-align: right;
  position: fixed;
  transform: translateY(-125%);
}

.playerWindowButton {
  background-color: transparent;
  color: var(--buttonColor);
}

.playerWindowButton:hover {
  cursor: pointer;
}

.songPlayerStatusMessage {
  justify-content: center;
}

.songPlay, .songPause {
  color: var(--buttonColor);
}

.songPlay:hover, .songPause:hover {
  color: var(--secondary);
}

.irreversible {
  margin-top: 1%;
  color: #ff5647;
  font-size: 24px;
  font-weight: bolder;
}

/* ADMIN/TEST/LOCKED SCREEN */
.adminScreen {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.adminScreenTop {
  display: flex;
  align-items: center;
}

.adminUserList {
  background-color: var(--secondary);
  color: var(--accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-left: 4%;
  width: 50%;
  height: 100%;
  user-select: none;
}

.adminScreenScrollContainer {
  background-color: var(--background);
  height: 90%;
  margin-top: 1%;
  margin-bottom: -3%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* USER SEARCH */
.userSearch {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-height: 50vmin;
  height: 50vmin;
}

.userSearchTopBar {
  display: flex;
}

.userSearchDivider {
  height: 10px;
  width: 70%;
  border-style: double;
  border-width: 0 0 3px 0;
  border-color: #999999;
}

.userSearchResults {
  height: 70%;
  margin-top: -1%;
  overflow: auto;
  padding: 1%;
  border-spacing: 100px;
}

.noUsersFound {
  padding-top: 10%;
}

.userResultContainer2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.userResultContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80vmin;
  padding: 2%;
  margin-right: 2%;
  border-radius: 5px;
}

.userResultContainer:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

.userResultPfpImg {
  width: 90px;
  max-width: 90px;
  height: 90px;
  max-height: 90px;
  border-radius: 50%;
}

.userResultUsername {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 1%;
}

.userResultInfo {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  text-align: left;
}

.userResultsFollowing {
  color: var(--accent);
  display: flex;
  margin-top: 2%;
  height: 35%;
}

.userResultsFollowing:hover {
  cursor: pointer;
  border-radius: 5px;
  color: var(--accent);
}

.userResultFollowInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userResultFollowerInfo {
  margin-left: -10%;
  margin-bottom: 4%;
}

/* VIEW PLAYLIST SCREEN */
.viewPlaylistScreen {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 2%;
  flex: 1 1 auto;
}

.viewPlaylistTitle {
  word-wrap: normal;
  margin-top: 3%;
  font-size: 20px;
  border-style: none;
}

.viewPlaylistFilterDivider {
  height: 10px;
  margin: 1%;
  margin-bottom: 1.5%;
  width: 25%;
  border-style: double;
  border-width: 0 0 3px 0;
  border-color: #999999;
}

.viewPlaylistScreenLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  user-select: none;
  background-color: var(--secondary);
  filter: drop-shadow(0px 0px 4px #333333);
  overflow-x: hidden;
}

.viewPlaylistPlayAllButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.75%;
}

.viewPlaylistDescriptionContainer {
  font-size: 16px;
  margin: 3%;
  margin-left: 4%;
  margin-right: 4%;
}

.viewPlaylistDescription {
  width: 100%;
  padding: 1%;
  text-align: left;
  font-style: italic;
  word-wrap: break-word;
  border-color: #999999;
  resize: none !important;
}

/* ANIMATIONS */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes appLogoWaveIntro {
  0% {
    transform: scaleY(0.1);
  }
  30% {
    transform: scaleY(1.3);
  }
  60% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(1.0);
  }
}

/* -------------- wave effect taken from https://codeconvey.com/ripple-effect-on-button-click-css ------------- */
@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: .4;
  }
  100% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}
 
@keyframes ripple {
  0% {
      width: 0;
      height: 0;
      opacity: .4;
  }
  
  100% {
      width: 100%;
      height: 100%;
      opacity: 0;
  }
}

.ripple:before {
  overflow:hidden;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: gray;
  visibility: hidden;
  z-index: 2;
}

.ripple:not(:active):before {
  overflow:hidden;
  -webkit-animation: ripple 0.5s cubic-bezier(0, 0, 0.2, 1);
          animation: ripple 0.5s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: visibility .5s step-end;
  transition: visibility .5s ease-out;
}

.ripple:active:before {
  overflow:hidden;
  visibility: visible;
}

.playerTab {
  padding-inline: 8px;
  padding-block: 4px;
  color: white;
  background-color: var(--buttonColor);
  user-select: none;
}

.playerTab:hover {
  cursor: pointer;
}
